
html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #7feb9b;
	font-family: 'Montserrat', sans-serif;
}

/*

Paleta de cores:
#eb4034 - Laranja
#1f041f - Roxo
#7feb9b - Verde

*/
/*Início barra navegação*/


.navigation {
	width: 100%;
	position: fixed;
	background-color: #1f041f;
	color: white;
	height: 50px;
}

.navigation-home{
	animation-name: navegacao;
	animation-duration: 2s;
}

.navigation ul {
	margin-top: 0;
	list-style: none;
	padding-left: 0;
	text-align: right;
	height: 50px;

}

.navigation li {
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	line-height: 50px;
	font-size: 18px;
	font-weight: 100;
}

.navigation a {
	color: white;
	text-decoration: none;
}

.navigation a:hover {
	color: #7feb9b;
}

.navigation li.threeline-icon {
	display: none;
}

.navigation li.threeline-icon:hover {
	color: #7feb9b;
	cursor: pointer;
}


/*Fim barra navegação*/
/*Início index.html*/


.capa {
	color: white;
	vertical-align: top;
}

.capa span {
	color: #1f041f;
	display: block;
	margin-top: 20px;
}

.capa div {
	display: inline-block;
	height: 650px;
}

.profile-pic {
	/*background-color: orange;*/
	width: 40%;
	text-align: center;
	margin-top: 30px;
	animation-name: profile-capa;
	animation-duration: 2s;
	display: block;
}

.profile-pic img {
	width: 320px;
	border-radius: 320px;
	margin-top: 100px;
}


.profile-title {
	/*background-color: blue;*/
	vertical-align: top;
	width: 59%;
	animation-name: titulo-capa;
	animation-duration: 2s;
}

.profile-title h1 {
	text-transform: uppercase;
	font-size: 58px;
	margin-top: 200px;
	font-weight: 400px;
	line-height: 50px;
}

.profile-title h2 {
	font-size: 20px;
	font-weight: 100;
	color: black;
	background-color: white;
}

/*Fim index.html*/
/*Início produtos.html*/

.produtos-capa{
	margin: 30px auto;
	width: 50%;
	max-height: 197px;
	animation-name: navegacao;
	animation-duration: 2s;
}

.produtos-capa > a:link, a:visited {
  	background-color: #eb4034;
	border: 2px solid #1f041f;
  	color: white;
  	padding: 14px 25px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	border-radius: 15px;
}

.produtos-capa > a:hover {
  	background-color: #1f041f;
  	color: #7feb9b;
}

.main {
	padding: 80px 180px 80px 100px;
	animation-name: conteudo;
	animation-duration: 2s;
}

.cv-pic {
	float: left;
	width: 250px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.main h1 {
	color: #eb4034;
	font-weight: normal;
}

.main h2 {
	color: #eb4034;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: normal;
	margin-top: 40px;
}

.main h3 { 
	color: #1f041f;
	font-size: 12px;
	text-transform: uppercase;

}

.main p {
	color: white;
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	text-align: justify;
}


/*Fim */
/*Início flex-produtos*/


.flex-produtos{
	/*background-color: lawngreen;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 30px 0;
}

.produtos-wrapper{
	/*background-color: lightcoral;*/
	width: 330px;
	height: 390px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.produtos{
	/*background-image: url('../img/produtos/1.jpeg');*/
	background-color: khaki;
	display: inline-block;
	width: 330px;
	height: 330px;
	background-size: contain;
	margin-bottom: 60px;
	border-radius: 5px;
}

.form-wrapper{
	background-color: lightseagreen;
	height: 390px;
	width: 330px;
}

.produtos a{
	text-decoration: none;
}

.efeito-produtos{
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0;
	overflow: hidden;
	transition: 1.5s;
}

.efeito-produtos:hover{
	opacity: 0.8;
	transition: 1.5s;
}

.texto-produtos{
	text-align: center;
	opacity: 1;
	padding: 72.5px 3px;
}

.texto-produtos h1{
	color: #1f041f;
}

.texto-produtos h2{
	color: #eb4034;
}

.texto-produtos h2:nth-of-type(1){
	font-weight: bold;
	font-size: 18px;
}

.indisponivel a{
	color: #1f041f;
	text-decoration: none;
}

.indisponivel a:hover{
	color: white;
}


/*Fim flex-produtos*/
/*Início formIndisponível*/


.formulario{
	margin: 60px auto;
	padding: 15px;
	min-width: 230px;
	width: 35%;
	max-width: 400px;
	height: calc(100% + 30px);
	top: -15px;
	border-width: 12px;
	border: 7px solid rgba(31, 4, 31,0.8);
	border-radius: 5px;
	background-color: #7feb9b;
	background-clip: padding-box;
}

.formulario h1{
	color: #eb4034;
}

.formulario h2{
	color: #1f041f;
	text-transform: initial;
	font-weight: normal;
	font-size: 14px;
}

.form{
	margin-top: 20px;
}

.form span{
	display: inline-block;
	width: 100%;
	font-size: 17px;
	color: #fff;
}

.form p{
	display: inline-block;
	width: 100%;
	font-size: 14px;
	color: #1f041f;
	margin: 20px 0;
}

.form input[type=text]{
	margin-top: 8px;
	min-width: 200px;
	width: 90%;
	max-width: 400px;
	height: 20px;
	border: 1px solid #1f041f;
	border-radius: 1px;
}

.form input[type=email]{
	margin-top: 8px;
	min-width: 200px;
	width: 90%;
	max-width: 400px;
	height: 20px;
	border: 1px solid #1f041f;
	border-radius: 1px;
}

.formulario input[type=submit]{
	color: white;
	font-size: 25px;
	width: 280px;
	height: 28px;
	display: inline-block;
	background-color: #eb4034;
	cursor: pointer;
	border-bottom: 5px solid #eb4034;
	padding: 0 !important;
}

.warning{
	font-size: 10px !important;
}

.script ul{
	padding-left: 0; 
}

.script h1{
	color: #1f041f;
}

.script p{
	color: white;
}

.novapergunta h2{
	font-size: 20px;
	letter-spacing: 2px;
}

.novapergunta textarea{
	width: 60%;
	height: 50px;
	max-width: 500px;
	border-style: none;
	font-size: 17px;
}

.novapergunta textarea:focus{
	border: 2px solid #1f041f;
	outline-style: none;
}

.novapergunta input[type=submit]{
	width: 60%;
	max-width: 100px;
	padding: 10px auto;
	font-size: 14px;
}

.novapergunta input[type=submit]{
	margin-top: 4px;
	background-color: #eb4034;
	border: 2px solid #1f041f;
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 15px;
}

.novapergunta > input:hover{
	cursor: pointer;
	background-color: #1f041f;
	color: #7feb9b;
}

.novapergunta > input:active{
	background-color: #1f041f;
  	color: #7feb9b;
  	border: 0;
}

/*

.formulario > form > .novapergunta > input[type=submit]:active{
	background-color: #1f041f;
  	color: #7feb9b;
  	border: 0;
}

*/

.social-img {
	width: 50px;
	margin-right: 10px;
}

.back-link {
	color: white !important;
}

.back-link:hover{
	color: #eb4034 !important;
}


@keyframes profile-capa {
	0% {opacity: 0; transform: translate(0px,20px)}
	100% {opacity: 1; transform: translate(0px,0px)}
}

@keyframes titulo-capa {
	0% {opacity: 0; transform: translate(0px,-20px)}
	100% {opacity: 1; transform: translate(0px,0px)}
}

@keyframes conteudo {
	0% {opacity: 0; transform: translate(-20px,0px)}
	100% {opacity: 1; transform: translate(0px,0px)}
}

@keyframes navegacao {
	0% {opacity: 0}
	50% {opacity: 0}
	100% {opacity: 1}
}




@media (max-width: 1000px) {
	.navigation{
		position: initial;
	}

	.navigation li {
		display: none;
	}

	.navigation li.threeline-icon {
		display: inline-block;
	}

	.capa div {
		display: block;
		height: auto;
	}

	.capa span {
		color: #1f041f;
		display: block;
		margin-top: 20px;
	}

	.profile-pic {
		width: 100%;
	}

	.profile-pic img {
		margin-top: 0;
		max-width: 80%;
	}

	.profile-title {
		text-align: center;
		width: 100%;
	}

	.profile-title h1 {
		margin-top: 30px;
		font-size: 36px;
		margin-left: 20px;
		margin-right: 20px;
	}

	.profile-title h2 {
		margin-top: 20px;
		margin-left: 20px;
		margin-right: 20px;
	}

	.main {
		padding: 10px 5% 40px 5%;
	}

	.main a {
		overflow-wrap: break-word;
		word-wrap: break-word;
	}

	.main p {
		text-align: left;
		line-height: 30px;
	}

	.caminho li {
		font-size: 12px;
	}

	.cv-pic {
		float: none;
		max-width: 100%;
		margin-right: 0px;
	}

	.miniatura {
		max-width: 100%;
		background-size: auto 100%;
	}

	.blackbox {
		opacity: 0.8;
	}

	.formulário{
		max-height: 100vh;
	}

	.script h1{
		color: #1f041f;
	}

	.menujs {
		height: auto;
		position: initial;
	}

	.menujs ul {
		height: auto;
		text-align: center;
		padding-right: 15%;
		padding-left: 15%;
	}

	.menujs li {
		display: block;
		border-bottom: solid grey 1px;
		width: 100%;
		padding: 0;
	}
}